 // GENERAL
 @import './vars.scss';

 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
  }

body {
  padding-top: 90px;
  color: $text-color;
  background-color: $bg-color;

}
   